/WarehouseInventoryProgram/build.xml
/WarehouseInventoryProgram/manifest.mf
.DS_Store
/WarehouseInventoryProgram/.DS_Store
/WarehouseInventoryProgram/build/
/WarehouseInventoryProgram/nbproject/build-impl.xml
/WarehouseInventoryProgram/nbproject/genfiles.properties
/WarehouseInventoryProgram/nbproject/project.properties
/WarehouseInventoryProgram/nbproject/project.xml
/WarehouseInventoryProgram/nbproject/private/private.xml
/WarehouseInventoryProgram/nbproject/private/private.properties
/WarehouseInventoryProgram/nbproject/private/config.properties
